{% extends "account/base.html" %}
{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h3 class="text-center mt-2">Réinitialiser votre mot de passe</h3>
            <form method="post" action="" class="p-4 shadow">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control bg-transparent text-light" id="password1" type="password" name="password1" placeholder="Nouveau mot de passe">
                            <label for="password1">Nouveau mot de passe</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control bg-transparent text-light" id="password2" type="password" name="password2" placeholder="Confirmez le mot de passe">
                            <label for="password2">Confirmez le mot de passe</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100">Réinitialiser le mot de passe</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
