{% extends "account/base.html" %}
{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h3 class="text-center mt-2 text-white">Demander une réinitialisation de mot de passe</h3>
            <form method="post" action="{% url 'account_reset_password' %}" class="p-4 shadow">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                <div class="form-floating mb-3">
                    <input class="form-control bg-transparent text-light" id="email" type="email" name="email" placeholder="name@example.com">
                    <label for="email">Adresse e-mail</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Envoyer le lien</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
